{% extends 'base.html.twig' %}

{% block title %}Poll{% endblock %}

{% block body %}
    <div class="header bg-dark ">
        {% if is_granted('ROLE_USER') %}
            <div class="d-flex justify-content-end">
                <a href="{{ path('app_logout') }}" class="btn btn-dark m-3">Log Out</a>
            </div>
        {% endif %}
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="d-flex justify-content-center">
            <a href="{{ path('admin') }}" class="admin-route text-dark  anton-font text-center mt-4">Admin Panel</a><br />
        </div>
    {% endif %}

    {# Poll Form #}
    {% if questions %}
    <form method="post">
        {% for question in questions %}
            <div class="poll-block container">
                <p class="poll-title text-center"> {{ question.title }}</p>
                <hr>
                {% for answer in question.answers %}
                    <input type="radio" id="answer-{{ answer.id }}" class="checkbox-round" name="answer-user-{{ question.id }}" value="{{ answer.id }}" required>
                    <label for="answer-{{ question.id }}" class="label-text ml-3">{{ answer.answer }}</label><br>
                {% endfor %}
            </div>
        {% endfor %}

        {#<div class="navigation">#}
            {#{{ knp_pagination_render(questions) }}#}
        {#</div>#}
        <div class="d-flex justify-content-center">
            <button class="btn btn-dark btn-block col-2 anton-font" type="submit">
                Next
            </button>
        </div>
    </form>
     {% else %}
         <p class="text-center text-danger">No questions yet</p>
    {% endif %}


    {# Link for result #}
    {#<a href="{{ path('showResults') }}">Poll Results</a>#}
{% endblock %}