{% extends 'base.html.twig' %}

{% block body %}

    <div class="header bg-dark ">
        {% if is_granted('ROLE_USER') %}
            <div class="d-flex justify-content-end">
                <a href="{{ path('app_logout') }}" class="btn btn-dark m-3">Log Out</a>
            </div>
        {% endif %}
    </div>
    <div class="example-wrapper">
        {% if is_granted('ROLE_USER') %}
            {#<button><a href="{{ path('index') }}">Home</a></button>#}
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <div class="d-flex justify-content-center">
                <a href="{{ path('admin') }}" class="admin-route text-dark  anton-font text-center mt-4">Admin Panel</a><br />
            </div>
        {% endif %}
    </div>

    <h3 class="text-dark mt-4 anton-font text-center m-2">Poll results</h3>
    <hr>

    <div class="container">
        <div class="row">
            {% if questions %}
                {% for question in questions %}
                    <div class="col-6">
                        <h4>{{ question.title }}</h4>
                        <hr>
                        {% for answer in question.answers %}
                            <p>{{ answer.answer }} <b> Voted:{{ answer.getPollCount() }}</b></p>
                        {% endfor %}
                        {#<hr>#}
                    </div>
                {% endfor %}
            {% else %}
                <h2 class="text-center">Result not yet</h2>
            {% endif %}
        </div>
    </div>

    {# Link for poll #}
    {#<a href="{{ path('poll') }}">Poll</a>#}

    {#<h2 class="text-center">Auth user answers</h2>#}
    {#<hr>#}
    {#<div class="col-6">#}
    {#{% if ua %}#}
    {#{% for ua in ua %}#}
    {#<h4>{{ ua.user_answer }}</h4>#}
    {#<hr>#}
    {#{% endfor %}#}
    {#{% else %}#}
        {#<h4 class="text-danger">No auth user answers</h4>#}
    {#{% endif %}#}
    {#</div>#}

    {#<h2 class="text-center">All users answers</h2>#}
    {#<hr>#}
    {#{% if pollAnswers %}#}
    {#{% for pollAns in pollAnswers %}#}

        {#<b>UserId: {{ pollAns.user_id }} AnswerId: {{ pollAns.user_answer }}</b><br>#}
     {#{% endfor %}#}
    {#{% else %}#}
        {#<h4 class="text-danger ml-3">No users poll answers</h4>#}
    {#{% endif %}#}

{% endblock %}