{% extends 'base.html.twig' %}

{% block title %}Poll{% endblock %}

{% block body %}
    <div class="header bg-dark ">
        {% if is_granted('ROLE_USER') %}
            <div class="d-flex justify-content-end">
                <a href="{{ path('app_logout') }}" class="btn btn-dark m-3">Log Out</a>
            </div>
        {% endif %}
    </div>
    <h1 class="text-center anton-font">Rate it frameworks?</h1>
    <div class="example-wrapper">
        {% if is_granted('ROLE_USER') %}
            {#<button><a href="{{ path('index') }}">Home</a></button>#}
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin') }}" class="lobster-font m-2 admin-route">Admin Panel</a><br />
        {% endif %}
    </div>


    {% for question in questions %}
        <div class="poll-block container">
            <p class="poll-title text-center"> {{ question.title }}</p>
            {% for answer in question.answers %}
                <label>{{ answer.answer }}</label>
                <input type="checkbox" class="checkbox-round" value="{{ answer.answer }}">
            {% endfor %}
        </div>
    {% endfor %}

    <button type="submit">Vote</button>


    {#{% for answer in answers %}#}
    {#<p> {{ answer.answer }}</p>#}
    {#{% endfor %}#}

    <a href="{{ path('showResults') }}">Quizz Results</a>

{% endblock %}