{% extends 'base.html.twig' %}

{% block title %}Create{% endblock %}

{% block body %}
    {{ include('admin/layouts/header.html.twig') }}
    {{ include('admin/layouts/sidebar.html.twig') }}

    <h1 class="text-center anton-font">Create New Question</h1>
    <div class="container d-flex justify-content-center">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Save</button>
        {{ form_end(form) }}
    </div>

    {{ include('admin/layouts/footer.html.twig') }}
{% endblock %}