{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    {{ include('admin/layouts/header.html.twig') }}
    <div class="container-fluid bg-light">
        <div class="row">
            <div class="col-3">
                {{ include('admin/layouts/sidebar.html.twig') }}
            </div>
            <div class="container">
                <div class="row">
                    {% if questions %}
                        {% for question in questions %}
                            <div class="col-6">
                                <h4 class="lobster-font  mt-4">{{ question.title }}</h4>
                                <hr>
                                {% for answer in question.answers %}
                                    <p class="anton-font"><b>{{ answer.answer }}</b> Voted: {{ answer.getPollCount() }}</p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: {{ answer.getPollCount()*100/100 }}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% else %}
                        <h2 class="text-center">Result not yet</h2>
                    {% endif %}
                    {# Reset poll result poll #}
                    <form method="post" class="mt-4">
                        <button type="submit" class="btn btn-danger poll_reset anton-font" id="poll_reset">reset poll result</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {{ include('admin/layouts/footer.html.twig') }}
{% endblock %}