{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    {{ include('admin/layouts/header.html.twig') }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                {{ include('admin/layouts/sidebar.html.twig') }}
            </div>
            <div class="container">
                <div class="row">
                    {% for question in questions %}
                        <div class="col-6">
                            <h4>{{ question.title }}</h4>
                            <hr>
                            {% for answer in question.answers %}
                                <p>{{ answer.answer }}</p>
                                {#<b> Voted:{{ answer.getPollCount() }}</b>#}
                            {% endfor %}
                            {#<hr>#}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {#{{ include('admin/layouts/footer.html.twig') }}#}
{% endblock %}