<div class="sidebar ">
    <div class="sidebar-block">
        <a href="{{ path('questions') }}" class="sidebar-item"><i class="fa fa-question mr-2"></i>Questions</a>
    </div>
    <div class="sidebar-block">
        <a href="{{ path('answers') }}" class="sidebar-item"><i class="fa fa-stack-exchange mr-2"></i>Answers</a><br />
    </div>
    <div class="sidebar-block">
        <a href="{{ path('users') }}" class="sidebar-item"><i class="fa fa-users mr-1 mr-2"></i>Users</a><br />
    </div>
    <div class="sidebar-block">
        <a href="{{ path('results') }}" class="sidebar-item"><i class="fa fa-tasks mr-1 mr-2"></i>Poll Result</a><br />
    </div>
    {#<a href="{{ path('survey/create') }}" class="text-danger sidebar-item ml-2">survey/create</a><br />#}
</div>
